.ColorCabecera{
    background-color: rgb(255, 255, 255);
}

.ColorCarrera{
    background-color: rgb(149, 64, 228);
    }

.ColorTiempoMuerto{
    background-color: rgb(116, 116, 116);
}

.ColorMateriadeHumanidades{
background-color: rgb(235, 71, 166);
}

.ColorLaboyTeoria{
    background-color: rgb(65, 94, 255);
   }